<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/new">
        <h1>New Soprano Quote</h1>
        <label for="author">User</label>
        <input type="text" name="user" id="userInput">
        <label for="text">Quote</label>
        <input type="text" name="text" id="textInput">
        <button type="submit">Submit</button>
    </form>
</body>
</html>